.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 700px;
    border-radius: 8px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header select{
    background-color: #5c636e92;
    padding: 15px 20px;
    border-radius: 8px;
    width: 10rem;
    outline: none;
    border: none;
}
h2{
   color: #F96D00; 
   font-weight: bold;
   font-size: 40px;
}
button{
    background-color: #F96D00;
    padding: 15px 20px;
}
button:hover{
    border: none;
    
}
.TodoList{
    background-color: #5C636E;
    height: 500px;
    margin: 0;
    padding: 0;
    width: 76%;
    margin-top: 1rem;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}


/* SCROLLBAR STYLE */
.TodoList::-webkit-scrollbar {
  display: none;           
}
.TodoList::-webkit-scrollbar-track {
  background: #f0f0f0;   
  border-radius: 6px;
}
.TodoList::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f0f0f0; 
}
.TodoList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}